<!DOCTYPE html>
<html>
<head>
    <title>生成对抗图片的原理</title>
</head>
<body>
    <h2> <b>生成对抗图片的原理</b> </h2>
    <h4>一、神经网络如何工作</h4>
    <p> 机器学习分类器的工作原理是找到分开的东西之间的分界线。以下是一个简单的二维分类器的图形，它被要求学习将绿点（可接受）与红点（禁止）分开： <br><img src="/static/img/con_brief01.png"> </p>
    <p>现在，分类器的精度达到100％。它发现一条线，将所有的绿点与红点完美分开。</p>
    <p>但是，如果我们欺骗它让它讲一个红点当做绿点来分类呢？我们可以将红点推到绿色领域的最低限度是多少？</p>
    <p> 如果我们在边界旁边的红点的Y值加少量，那么我们几乎可以把它推到绿色领域：<br> <img src="/static/img/con_brief02.png"> </p>
    <p>所以要欺骗一个分类器，我们只需要知道向哪个方向来推动这个点，以便让它在一行上。如果我们不想对恶意言论过于明确，理想情况下我们会尽可能的减少这一点，这样看起来就是一个诚实的错误。</p>
    <p>在具有深层神经网络的图像分类中，我们分类的每个“点”是由数千个像素组成的整个图像。这给了我们数千种可能的值，让我们去调整值来将这个点推到决定界限的另一头。如果我们可以以不太明显的方式调整图像中的像素，我们就可以愚弄分类器，而不会使图像看起来受到操纵。</p>
    <p>换句话说，我们可以为一个对象拍一张照片，然后非常轻微地改变像素，使得图像完全可以骗过神经网络 - 而且我们可以精确地控制它检测到的对象：</p>
    <h4>二、如何欺骗神经网络</h4> 
    <p>我们已经讨论了训练神经网络分类照片的基本过程：</p> 
    <p>1.饲养(Feed in)训练照片。</p> 
    <p>2.检查神经网络的预测，看看距离正确答案有多远。</p> 
    <p>3.使用反向传播调整神经网络中每一层的权重，使最终预测更接近正确答案。</p> 
    <p>4.重复步骤1-3几千次与几千个不同的训练照片。</p> 
    <p>但是，如果不调整神经网络的层次的权重，而是改变输入图像本身直到我们得到我们想要的答案为止会怎么样呢？</p> 
    <p> 所以让我们使用已经训练好的神经网络，并进再次“训练”。但是这次让我们使用反向传播来调整输入图像而不是神经网络层。 </p>
    <p>所以这里是新的算法：</p> 
    <p>1.输入我们想要hack的图片</p> 
    <p>2.检查神经网络的预测，看看我们想要获得的答案还有多远。</p> 
    <p>3.使用反向传播调整我们的照片，使最终的预测更接近我们想要的答案。 </p> 
    <p>4.使用相同的照片重复步骤1-3几千次， 直到网络给我们想要的答案。</p> 
    <p>在这个结尾，我们将有一个可以愚弄神经网络的图像，而不改变神经网络本身内的任何东西。</p> 
    <p> 唯一的问题是，没有任何限制的允许调整任何单个像素，图像的更改可能会非常大，他们会出现变色斑点或波浪区域。 </p> 
    <p>为了防止这些明显的扭曲，我们可以为我们的算法添加一个简单的约束。我们可以规定被hacked的图像每个像素的改变范围- 比如说不能超过0.01％。这迫使我们的算法以一种仍然愚弄神经网络的方式来调整图像，而不会看起来与原始图像不同。</p> 
</body>
</html>